.headerCount{
    display:flex;
    background-color: rgb(255, 218, 218);
    flex-direction: column;
}
.countSection{
    background-color: blue;
}
.createSection{
    background-color: rgb(182, 255, 182);
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputRow{
    
}
input{

}
button{

}