.todo{
    border:1px solid teal;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3px 20px;
    padding: 10px;
    background-color: rgb(202, 255, 218);

}
.todoRow{
    background-color: aqua;
    padding:2px 4px;
    width: 95%;
    resize: none;
    padding: 2px;
    border: 1px solid black;
}

.button {
    align-items: right;
    justify-content: space-between;
    padding: 2px 75px;
    margin: 2px 10px;
}

.inputRow {
    resize: horizontal;
    width: 100px;
}
